img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


h1{
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    color: brown; /*reddish-brown*/
}
figcaption{
    text-align: center;
      font-size: 25px;
}

ol{
    border: brown 3px solid;
    padding-top: 10px;
    padding-bottom: 10px;

 }
li{
    color: pink;
    font-size: 25px;
}

highlight{
    color: red;
}
#main-text{
    border: #913d0c 3px dotted;
    background-color: #FDFD96;
}